header {
    background: #635A58;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    color: #FF0000;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #635A58;
    border-radius: 15px;
}

.produtos li:hover {
    border-color:#FF0000;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bolder;
}

.produtos li:hover h2 {
    font-size: 25px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin: 20px 0 0;
}