/* Navbar das páginas */

header {
    background: #635A58;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Página de Produtos */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #635A58;
    border-radius: 15px;
}

.produtos li:hover {
    border-color:#FF0000;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bolder;
}

.produtos li:hover h2 {
    font-size: 25px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Página de contato */

main {
    width: 940px;
    margin: 0 auto;
    font-family: 'Spartan', sans-serif;
}

form {
    margin: 40px 0;
}

.form-group select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 3px solid #635A58;
    color: gray;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0;
    margin-top: 15px;
    width: 600px;
    margin-bottom: 10px;
}

.label-float input{
    width: 600px;
    padding: 2px 2px;
    display: inline-block;
    border: 0;
    border-bottom: 3px solid #635A58;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    transition: all .3s ease-out;
    border-radius: 0;
}
  
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 30px;
    margin-bottom: 40px;
}
  
.label-float input:focus{
    border-bottom: 3px solid #635A58;
}
  
.label-float label{
    color: gray;
    pointer-events: none;
    position: absolute;
    top: -10px;
    left: 0px;
    margin-top: 10px;
    transition: all .3s ease-out;
}
  
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 16px;
    margin-top: -10px;
    color: black;
    font-weight: bolder;
}

button {
    height: 40px;
    padding: 10px 25px;
    color: white;
    background: #635A58;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px 5px black;
}

button:hover {
    background-color: #000000;
}

/* Rodapé das páginas */

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin: 20px 0 0;
}