/* Navbar das páginas */

header {
    background: #635A58;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Página HOME */

.principal {
    position: absolute;
    top: 300px;
    width: 600px;
    left: 640px;
    padding: 40px;
    color: #000000;
    font-weight: bold;
}

.titulo-principal {
    font-family: 'Open Sans', sans-serif;
    color: #a0928e;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    margin: 1em 0 1em;
}

.principal p {
    text-align: justify;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    margin: 1em 0 1.3em;
}

.principal em {
    font-size: 1em;
    font-style: italic;
}

.principal strong {
    font-weight: bold;
    color: #000000;
    text-shadow: 3px 3px 5px #635A58;
}

.beneficios {
    position: absolute;
    top: 800px;
    width: 40%;
    padding: 20px;
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
}

.titulo-beneficios {
    font-family: 'Open Sans', sans-serif;
    color: #a0928e;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.itens {
    vertical-align: top;
    margin-left: 20%;
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
}

/* Página de Produtos */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #635A58;
    border-radius: 15px;
}

.produtos li:hover {
    border-color:#FF0000;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bolder;
}

.produtos li:hover h2 {
    font-size: 25px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Página de contato */

main {
    width: 940px;
    margin: 0 auto;
    font-family: 'Spartan', sans-serif;
}

form {
    margin: 40px 0;
}

.label-float input {
    width: 600px;
    padding: 2px 2px;
    display: inline-block;
    border: 0;
    border-bottom: 3px solid #635A58;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    transition: all .3s ease-out;
    border-radius: 0;
}
  
.label-float {
    position: relative;
    padding-top: 13px;
    margin: 30px 0 40px;
}
  
.label-float input:focus {
    border-bottom: 3px solid #635A58;
}
  
.label-float label {
    color: gray;
    pointer-events: none;
    position: absolute;
    top: -10px;
    left: 0px;
    margin-top: 10px;
    transition: all .3s ease-out;
}
  
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 16px;
    margin-top: -10px;
    color: black;
    font-weight: bolder;
}

form textarea {
    width: 600px;
    border: 3px solid #635A58;
    font-size: 18px;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
}

form fieldset {
    margin: 20px 0px 25px;
    padding-top: 15px;
}

.form-group select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 3px solid #635A58;
    color: gray;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 0;
    margin-top: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.checkbox {
    margin: 10px 0;
}

button {
    display: grid;
    width: 45%;
    height: 70px;
    padding: 20px 35px;
    color: white;
    background: #635A58;
    margin: 30px 0 20px;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    box-shadow: 3px 3px 5px black;
    transition: 1s all;
    cursor: pointer;
}

button:hover {
    background: #000000;
    transform: scale(1.2);
}

table {
    margin: 40px 0 60px;
}

thead {
    background: #635A58;
    color: white;
    font-weight: bold;
}

td, th {
    border: 2px solid #000000;
    padding: 25px 40px;
}

/* Rodapé das páginas */

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin: 20px 0 0;
}